.idea
.env
poetry.lock
pyproject.toml

*/cache_file/*
**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

__pycache__/
**/__pycache__/**
*.py[cod]
.pyc
*.pyc

media/*
!*media